<div class="mcq-maincontent">
  <mat-card-content>
    <h1>Questions</h1><br /><br />
    <div id="mcq-block">
      <div *ngFor="let data of value">
        <h3>{{data.Question }}</h3>
        <form [formGroup]="profileForm">

          <mat-form-field class="example-full-width">
            <textarea formControlName="msgB" matInput placeholder="Answer"></textarea>
          </mat-form-field><br>
        </form>
        <button mat-raised-button color="primary" [disabled]="!profileForm.valid" (click)="post()">Submit</button>
      </div>
    </div>

  </mat-card-content>


</div>