
.box{
position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
    border: 1px solid grey;
    /* border-width: 0; */
    width: 500px;
    height: 200px;
    font-size: 20px;
    /* font-family: serif; */
    box-shadow: 1px 0px 6px;
}