<mat-card-content>
  <form [formGroup]="profileForm" class="login-form">
    <h2>User Login</h2>
    <mat-form-field>
      <input formControlName="username" matInput placeholder="Username">

    </mat-form-field>
    <br />
    <mat-form-field>
      <input formControlName="password" type="password" [type]="hide ? 'password' : 'text'" matInput placeholder="Password">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <div>
      <mat-checkbox class="example-margin">Remember Me</mat-checkbox>
    </div>
    <div>
      <a routerLink="/forgot">Forgot Password?</a>
    </div>
    <div class="button-groups" [formGroup]="profileForm">
      <button mat-raised-button (click)="login()" [disabled]=!profileForm.valid color="primary">Login</button>

      <button mat-raised-button color="primary">Clear</button>
      <div>
        <button mat-button (click)="signInWithFB('facebook')" class="fb">
          <img src='https://smartenergygroup.com.au/wp-content/uploads/2018/03/logo-facebook.png' style="width:38px;">
          Sign in with Facebook</button>
        <button mat-button (click)="signInWithGoogle('google')" class="gm">
          <img src='./assets/images/google-plus.png'> Sign in with Google</button>
      </div>


      <div class="form-group new">
        New User?
      </div>
    </div>
    <div>
      <mat-card-actions>
        <button mat-raised-button (click)="register()" color="primary" value="Register">Register</button>
      </mat-card-actions>
    </div>
  </form>
</mat-card-content>