<div class="login-form">
    <div class="login-logo">
        <img src="assets/images/logo/logo.png" />
    </div>
    <span>We will send you a link to reset password.</span>

    <form>
        <div class="form-group" *ngIf="showForm">
            <input class="form-control" type="text" placeholder="Please Enter Registered Email Address" />
        </div>
        <div class="form-group login-btn" *ngIf="showForm">
            <input class="btn form-control" type="button" (click)="reset()" value="Recover Password">
        </div>
        <div class="form-group" *ngIf="!showForm">
            <label class="text-success">Please Check Your Mail.
                <br>A Mail Containing Link To Reset Your Password Has Been Sent To your Email.</label>
        </div>
        <div class="row pad-15">
            <div class="col-md-6 text-left">
                <a routerLink="/login">Login</a>
            </div>
            <div class="col-md-6 text-right">
                New To Idom Exchange
                <a class="pull-right" routerLink="/register"> Create Account</a>
            </div>
        </div>
    </form>
</div>