<mat-card-content>
    <!-- <b>{{user}} as registered</b>

<div class="buttons">
<mat-card-actions>      
<button mat-raised-button  color="primary"  (click)="add()">Add User</button>
<button mat-raised-button color="primary" (click)="delete()">Delete User</button>
</mat-card-actions> 
</div>
<div class="message">
    <b>{{value}}</b>
</div> -->
<button mat-raised-button (click)="addQuestion(dataSource)" class="add"> Add question </button>
<button mat-raised-button (click)="removeQuestion()" class="remove"> Remove question </button>
  <div class="question-answer">
    <table>
      <tr>
        <th id="id">Id</th>
        <th id="name">Name</th>
        <th class="action" width="200">Action</th>
      </tr>
      <tr *ngFor = "let data of finalUsers; let i=index"  >
      
        <td headers="id">{{i}}</td>
        <td headers="email">{{data.Question}}</td>
        <button mat-raised-button (click)="post()" class="post">Post</button>
        <button mat-icon-button (click)="removeAt(i)" class="remove" matTooltip="Remove">
          <mat-icon>clear</mat-icon>
        </button>
      </tr>
    </table>
  </div> 
</mat-card-content> 
