button{
  margin:10px 10px 10px 10px;   
}
.buttons{
  margin: 50px 0;
}
table {
  width: 100%;
	border: 1px solid #b0b0b073;
	text-align: center;
}

button {
   margin: 16px 8px;
}

.question-answer{
   margin:0 auto;
   max-width: 700px;
}

td, th, tr{
	text-align: center;
}
th, td{
	border: 1px solid #b0b0b073;
	padding: 8px;
}
.add, .post{
	background: #3e4db8;
    color: #fff;
}
.remove{
	background: #d25047;
    color: #fff;
}