<mat-card-content>
    <b>{{user}} as registered</b>

<div class="buttons">
<mat-card-actions>      
<button mat-raised-button  color="primary"  (click)="add()">Add User</button>
<button mat-raised-button color="primary" (click)="delete()">Delete User</button>
</mat-card-actions> 
</div>
<div class="message">
    <b>{{value}}</b>
</div>
</mat-card-content>