<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="main">
  
  <mat-toolbar color="primary" class="nav" >
    <mat-toolbar-row>
      <span class="example-fill-remaining-space"></span>
      <span class="align-center"></span>
      <span class="example-spacer"></span>
      <button mat-button routerLink="/register">Register</button>
      <button mat-button routerLink="/login">Login
      </button>      
      <button mat-button routerLink="/mcq">Forum
      </button> 
      <button mat-button  class="logout" routerLink="/logout">Logout
      </button>
      
    </mat-toolbar-row>
   

  </mat-toolbar>



  <router-outlet></router-outlet>