<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">

            <h1>{{title}}</h1>
            <div style="text-align:center" class="main">

                <mat-toolbar color="primary">
                    <mat-toolbar-row>
                        <button mat-button routerLink="/userdetail">User
                        </button>
                        <button mat-button routerLink="/logout">Logout
                        </button>
                        <button mat-button routerLink="/user">Question
                        </button>
                    </mat-toolbar-row>
                </mat-toolbar>










                <router-outlet></router-outlet>

            </div>
        </div>
    </div>