<h1 mat-dialog-title>Questions</h1>
<div mat-dialog-content>
  <form [formGroup]="profileForm">
    <mat-form-field class="full-width">
      <textarea formControlName="Question" class="note-input" matInput placeholder="Post the question" maxlength="250"></textarea>
    </mat-form-field>
  </form>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="post()" cdkFocusInitial>Post</button>

  <button mat-button (click)="onNoClick()">Cancel</button>

</div>