<mat-card-content >
   <form [formGroup]="registerForm" class="register-form">
      <h2>User Register</h2>
      <mat-form-field>
         <mat-label>Name</mat-label>
         <input matInput placeholder="Name" formControlName="Name">
      </mat-form-field>
      <br />
      <mat-form-field>
         <mat-label>UserName</mat-label>
         <input matInput placeholder="UserName" formControlName="UserName">
      </mat-form-field>
      <br />
      <mat-form-field>
         <mat-label>Contact</mat-label>
         <input matInput placeholder="Contact" formControlName="Contact">
      </mat-form-field>
      <br />
      <mat-form-field>
         <mat-label>Address</mat-label>
         <input matInput placeholder="Address" formControlName="Address">
      </mat-form-field>
      <br />
      <mat-form-field>
         <mat-label>Email</mat-label>
         <input matInput placeholder="Email" formControlName="Email">
         <!-- <mat-error *ngIf="registerForm.get('Email').errors && registerForm.get('Email').errors.emailTaken">this email
            is already taken!</mat-error> -->
      </mat-form-field>
      <br />
      <mat-form-field>
         <mat-label>Password</mat-label>
         <input matInput placeholder="Password" type="password" [type]="hide ? 'Password' : 'text'" formControlName="Password">
         <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
         <mat-error *ngIf="Password?.invalid">{{pwdMatchValidator()}}
         </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field class="full-width">
         <mat-label>Confirm Password</mat-label>
         <input matInput placeholder=" ReEnter Password" type="password" [type]="confirm_hide ? 'ConfirmPassword' : 'text'"
            formControlName="ConfirmPassword">
         <mat-icon matSuffix (click)="confirm_hide = !confirm_hide">{{confirm_hide ? 'visibility_off' : 'visibility'}}</mat-icon>
         <mat-error *ngIf="ConfirmPassword?.invalid">{{pwdMatchValidator()}}
         </mat-error>

      </mat-form-field>
      <div>
         Already Have An Account ?
      </div>
      <div>
         <mat-card-actions>
            <button mat-raised-button (click)="login()" color="primary" value="Login">Login</button>
         </mat-card-actions>
      </div>
      <mat-card-actions>
         <button mat-raised-button (click)="register()" color="primary" [disabled]="registerForm.invalid" routerLink="/login">Register</button>
         <button mat-raised-button color="primary">Clear</button>
      </mat-card-actions>
   </form>
</mat-card-content>