  .register-form{
    border-radius: 4px;
    border: 1px #ddd solid;
    background-color: #fff;
    width: 400px;
    height: auto;
    margin: 0 auto;
    margin-top: 25px;
    padding: 20px 0px;
     -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
  }

  .button-groups{
    padding:20px 0;
  }
  button{
      margin: 5px;
  }

  .register-form .mat-form-field {
    display: block;
    position: relative;
    text-align: left;
    padding: 0px 36px;
}
